body{
    background-color: #c5f5f6;
    
}
.jumbotron{
    background-color: #E9ECEF;
    border-color: blue;
}
.btn-primary{
    //background-color: red;
}
.btn-outline-primary{
    //color: red;
    //border-color: red;
}
.card{
    background-color: #E9ECEF;
    border-radius: 25px;
    //border-color: blue;

}
.card-header{
    background-color: black;
}
.card-body{
    //background-color: black;
}

.card-footer{
    background-color: lightpink;
}
.card-img-top{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
