body{
    background-color: #c5f5f6;
}
.jumbotron{
    background-color: #E9ECEF;
    border-color: blue;
}
.btn-primary{
    //background-color: red;
}
.btn-outline-primary{
    //color: red;
    //border-color: red;
}
.card{
    background-color: #E9ECEF;
    border-radius: 25px;
    //border-color: blue;

}
.card-header{
    background-color: #3EA2B8;
}
.card-body{
    background-color: #3EA2B8;
}

.card-footer{
    background-color: black;
}
.card-img-top{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.navbar-brand{
    padding-right: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 60px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

.map-container-3{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
    }
    .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

 .input-group{
     width: 70%;
     margin-left: 20%;
     
 }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="navbar-brand"] {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
    }
  }

